<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
</head>
<body>

<form th:action="@{/user/create}" method="POST" th:object="${user}">
    <table>
        <tr>
            <td>Nowy Użytkownik</td>
            <td><input type="hidden" id="id" name="id" th:value="${user.id}"/></td>
        </tr>
        <tr>
            <td>Imię:</td>
            <td><input type="text" id="firstName" name="firstName" th:value="${user.firstName}"/></td>
        </tr>
        <tr>
            <td>Nazwisko:</td>
            <td><input type="text" id="lastName" name="lastName" th:value="${user.lastName}"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Zatwierdź</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>