<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
</head>
<body>

<form th:action="@{/book/create}" method="POST" th:object="${book}">
    <table>
        <tr>
            <td>Nowa Książka</td>
            <td><input type="hidden" id="id" name="id" th:value="${book.id}"/></td>
        </tr>
        <tr>
            <td>Tytuł:</td>
            <td><input type="text" id="title" name="title" th:value="${book.title}"/></td>
        </tr>
        <tr>
            <td>Kategoria:</td>
            <td>
                <select name="cathegory">
                    <option th:each="cathegorOpt : ${T(pl.projekt.biblioteka.infrastructure.type.Cathegory).values()}"
                            th:value="${cathegorOpt}"
                            th:text="${cathegorOpt.label}">

                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Zatwierdź</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>