<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
</head>
<body>
Witaj W bibliotece <span th:text="${todayDate}"/>

<div>
    <a th:href="@{/book/create}">Dodaj książkę</a>
</div>

<ul>
    <li><a th:href="@{/book/get/ROMANS}">Romanse</a></li>
    <li><a th:href="@{/book/get/SCIENCE}">Naukowe</a></li>
    <li><a th:href="@{/book/get/CRYMINAL}">Kryminały</a></li>
</ul>

<tbody>
<tr th:each="book : ${books}">
    <td><span th:text="${book.title}"/></td>
    <td><span th:text="${book.cathegory}"/></td>
    <td><a th:href="@{../edit?id=} + ${book.id}">Edytuj</a></td>
    <td><a th:href="@{../delete?id=} + ${book.id}">Usuń</a></td>
</tr>
</tbody>


</body>
</html>